@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PressStart2P-Regular;
  src: url(../../assets/PressStart2P-Regular.ttf);
}

@layer base {
  html {
    font-family: PressStart2P-Regular, system-ui, sans-serif;
    color: white;
    background-color: white;
  }
}

.text-container {
  max-width: 800px;
  margin: 0 auto;
}

.text-8xl {
  font-size: 6vw;
}

